:where(.timeline) {
  --timeline-line-width: 0.2rem;
  --timeline-line-color: black;
  --marker-line-width: var(--timeline-line-width);
  --marker-line-color: var(--timeline-line-color);
  --marker-size: 1.5rem;
  --marker-color: var(--timeline-line-color);
  --marker-inner-size: 1rem;
  --marker-inner-color: white;
  --marker-radius: 50%;

  position: relative;
}

.timeline__line {
  position: absolute;
  background-color: var(--timeline-line-color);
  width: var(--timeline-line-width);
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  position: absolute;
  width: 50%;
  display: flex;
  transition: top 0.1s;
}

.timeline-item--left {
  left: 0;
}

.timeline-item--right {
  right: 0;
}

.timeline-card {
  border: 0.2rem solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.timeline-card img {
  width: 100%;
  height: auto;
}

.timeline-card__date {
  margin-left: auto;
}

.timeline-item__marker {
  position: relative;
  height: var(--marker-line-width);
  margin-top: 2rem;
  width: 5rem;
  background-color: var(--marker-line-color);
}

.timeline-item__marker::after,
.timeline-item__marker::before {
  content: '';
  border-radius: var(--marker-radius);
  position: absolute;
}

.timeline-item__marker::before {
  width: var(--marker-size);
  height: var(--marker-size);
  background-color: var(--marker-color);
  top: calc(-1 * var(--marker-size) / 2 + var(--marker-line-width) / 2);
}

.timeline-item__marker::after {
  width: var(--marker-inner-size);
  height: var(--marker-inner-size);
  background-color: var(--marker-inner-color);
  top: calc(-1 * var(--marker-inner-size) / 2 + var(--marker-line-width) / 2);
}

.timeline-item--left .timeline-item__marker::before {
  right: calc(-1 * var(--marker-size) / 2);
}

.timeline-item--left .timeline-item__marker::after {
  right: calc(-1 * var(--marker-inner-size) / 2);
}

.timeline-item--right .timeline-item__marker::before {
  left: calc(-1 * var(--marker-size) / 2);
}

.timeline-item--right .timeline-item__marker::after {
  left: calc(-1 * var(--marker-inner-size) / 2);
}

.timeline-item--left .timeline-item__marker {
  order: 1;
}

/* left positioning */
.timeline--left .timeline__line {
  left: 0;
}

.timeline--left .timeline-item--right {
  left: 0;
  width: 100%;
}

/* right positioning */
.timeline--right .timeline__line {
  right: 0;
  left: unset;
  transform: translateX(50%);
}

.timeline--right .timeline-item--left {
  right: 0;
  width: 100%;
}
