.styled-timeline * {
  margin: 0;
  padding: 0;
}

.styled-timeline {
  --line-width: 2px;
  --line-color: gray;
  --marker-color: gray;
  --card-background: white;
  --card-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);
  --card-padding: 2rem;

  font-family: sans-serif;
  line-height: 1.4;
}

.styled-timeline .timeline-card__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.styled-timeline img {
  margin-top: 1rem;
}
