:where(.timeline) {
  --timeline-line-width: 0.2rem;
  --timeline-line-color: black;
  --marker-line-width: var(--timeline-line-width);
  --marker-line-color: var(--timeline-line-color);
  --marker-mark-size: 1.5rem;
  --marker-mark-color: var(--timeline-line-color);
  --marker-mark-radius: 50%;

  position: relative;
}

.timeline__line {
  position: absolute;
  background-color: var(--timeline-line-color);
  width: var(--timeline-line-width);
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  position: absolute;
  width: 50%;
  display: flex;
  align-items: flex-start;
  transition: top 0.1s;
}

.timeline-item--left {
  left: 0;
}

.timeline-item--right {
  right: 0;
}

.timeline-card {
  border: 0.2rem solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.timeline-card img {
  width: 100%;
  height: auto;
}

.timeline-card__date {
  margin-left: auto;
}

.timeline-marker {
  position: relative;
  margin-top: 2rem;
  width: 5rem;
}

.timeline-marker__pointer {
  flex: 1;
  height: var(--marker-line-width);
  background-color: var(--marker-line-color);
}

.timeline-marker__mark {
  border-radius: var(--marker-mark-radius);
  width: var(--marker-mark-size);
  height: var(--marker-mark-size);
  background-color: var(--marker-mark-color);
  position: absolute;
  top: 50%;
}

.timeline-item--left {
  flex-direction: row-reverse;
}

.timeline-item--left .timeline-marker__mark {
  right: 0;
  transform: translate(50%, -50%);
}
.timeline-item--right .timeline-marker__mark {
  left: 0;
  transform: translate(-50%, -50%);
}

/* left positioning */
.timeline--left .timeline__line {
  left: 0;
}

.timeline--left .timeline-item--right {
  left: 0;
  width: 100%;
}

/* right positioning */
.timeline--right .timeline__line {
  right: 0;
  left: unset;
  transform: translateX(50%);
}

.timeline--right .timeline-item--left {
  right: 0;
  width: 100%;
}
