.timeline {
  position: relative;
}

div.timeline__line {
  background-color: black;
  width: 0.5rem;
  height: 100%;
  margin-inline: auto;
}

.timeline-item {
  position: absolute;
  width: 45%;
}

.timeline-item--left {
  left: 0;
}

.timeline-item--right {
  right: 0;
}
